.itemDetail {
  width: 25vw;
  height: auto;
  padding: 15px;
  margin-top: 4vw;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 15px 15px 41px #7b7b7b, -15px -15px 41px #ffffff;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemDetail > img {
  object-fit: contain;
  /* width: 30vw; */

  padding: 10px;
}
button {
  /* float: right; */
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--primarycolor);
  transition: 0.3s;
}
button:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.cancel__icon {
  color: black;
  /* position: relative; */
}

.itemDetail__cancelbtn {
  width: 100%;
}

.addtocart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addtocart__quantity {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}
.addtocart__quantity > p {
  box-sizing: border-box;
  padding: 0 10px;
}
.counters {
  padding: 5px;
  border-right: 2px solid var(--primarycolor);
}
.counters:hover {
  background-color: rgba(209, 247, 171, 0.979);
}
.counters__increment {
  padding: 5px;
  border-left: 2px solid var(--primarycolor);
}
.counters__increment:hover {
  background-color: rgba(209, 247, 171, 0.979);
}
