.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  background-color: white;
  width: 100%;
}
.header__title {
  display: flex;
}
.header__search {
  display: flex;
  box-sizing: border-box;
  width: 35%;
  border: 1px solid chartreuse;
  justify-content: space-between;
}
.header__search > input {
  border: none;
  outline: none;
}
.header__title > h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
.header__search__icon {
  display: flex;
  box-sizing: border-box;
  background-color: chartreuse;
  padding: 0.1rem;
  color: white;
}
.header__search__icon:hover {
  background-color: rgb(84, 143, 25);
}

.icon {
  height: 40px;
  width: 40px;
}
