.itemPage {
  /* padding: 10px; */
  display: flex;
}

.itemPage__itemlist {
  flex: 0.5;
}

.item__sort {
  display: block;
  position: fixed;
}
.item__sort > h2 {
  margin-top: 4.5vw;
}
.item__sort > input {
  margin-bottom: 20px;
}

.itemPage__right {
  position: fixed;
}
